@model IEnumerable<RestauranteAutenticacao.Models.Cliente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/site.css">
<h1>Index</h1>

<p>
    <button type="button" class="btn btn-secondary">
        <a asp-action="Create">Cadastrar</a>
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                <button type="button" class="btn btn-success">
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                </button>
                    <button type="button" class="btn btn-warning">
                <a asp-action="Details" asp-route-id="@item.id">Details</a>
                    </button>
                    <button type="button" class="btn btn-danger">
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </button>

            </td>
        </tr>
}
    </tbody>
</table>
