@model RestauranteAutenticacao.Models.Pedido

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bebida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bebida.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidadebebida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidadebebida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.marmitas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.marmitas.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cliente.endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tempoPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tempoPedido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
