@model IEnumerable<RestauranteAutenticacao.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Clientes</h1>

<p>
    <a asp-action="PesquisaCliente">Filtrar Nome</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
                <td>
                    <button type="button" class="btn btn-success">
                        <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                    </button>
                    <button type="button" class="btn btn-warning">
                        <a asp-action="Details" asp-route-id="@item.id">Details</a>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </button>

                </td>
        </tr>
}
    </tbody>
</table>
