@model IEnumerable<RestauranteAutenticacao.Models.Consultas.PedidoGroupStatus>

@{
    ViewData["Title"] = "GroupByStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GroupByStatus</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marmita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marmita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preco)
            </td>
                <td>
                    <button type="button" class="btn btn-success">
                        <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                    </button>
                    <button type="button" class="btn btn-warning">
                        <a asp-action="Details" asp-route-id="@item.id">Details</a>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </button>

                </td>
        </tr>
}
    </tbody>
</table>
